---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Contact">
  <section class="prose max-w-none text-sm text-gray-300">
    <h1>Contact</h1>
    <p>Please email us at <a href="mailto:wsmxlive@gmail.com">wsmxlive@gmail.com</a>.</p>
  </section>
</Layout>